<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-5 mt-5">
            <div class="card">
                <div class="card-hearder text-center fs-3 mt-2">
                    To-Do List
                </div>
                <div class="card-body">
                    <form [formGroup]="taskFrom" (ngSubmit)="onSubmit()">
                        <div class="form-floating">
                            <input type="text" formControlName="task" name="task" id="name" class="form-control"  placeholder="Task">
                            <label for="name">Task</label>
                            <span *ngIf="taskFrom.hasError('customTaskNameValidator','task') && taskFrom.controls['task'].dirty">Enter Proper Task Name</span>
                        </div>
                        <hr>
                        <button class=" btn btn-primary">Add Task</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-6 ">
            <span>Total Tasks : {{allTask.count}}</span>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Is Completed</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    <tr *ngFor="let task of allTask.Tasks; let idx = index">
                        <td>{{ idx+1 }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.completed ? 'Yes' : 'No' }}</td>
                      <td><button class="btn btn-secondary" (click)="updateTask(task._id)">Edit</button></td>
                      <td>delete</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>