.spinner {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  z-index: 9999; /* Ensure the spinner is on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
}